body {
    background-color: lightgoldenrodyellow;
}

div h1.Name {
    border: solid black 1px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 126, 152);
}

nav {
    text-align: center;
}

nav a {
    margin: 1% 1%;
    border: solid black 1px;
    text-decoration: none;
    padding: 2%;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(188, 211, 255);
}

div.DocumentDirectory {
    text-align: center;
}

div.DocumentDirectory h1 {
    text-align: center;
    border: solid 1px black;
    display: inline-block;
    padding: 1% 4%;
    border-radius: 5px;
    background-color: lightgray;
}

input.response {
    width: 30%;
    border: solid 1px black;
    display: inline-block;
    padding: 1%;
    border-radius: 5px;
}

label.label {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
    padding: 1%;
}

div.Form {
    margin-left: 2%;
}

form textarea {
    width: 40%;
}

form.studentForm label.alignment {
    position: relative;
    bottom : 140px;
    
}

input.button {
    text-align: center;
    font-size: medium;
    background-color: rgb(104, 238, 104);
    border-radius: 10px;
    cursor: pointer;
    padding: 2% 6%;
    outline: none;
    margin-left: 40%;
    margin-right: 40%;
}

footer {
    border: solid black 1px;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 126, 152);
}

footer a {
    display: inline-block;
    margin-bottom: 1%;
}


@media screen and (min-width: 800px) {
    body {
        width: 768px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    form {
        text-align: left;
    }
}